@font-face {
  font-family: hda;
  src: url(../fonts/tahoma.ttf);
}

body {
  font-family: hda;
}

/* Container needed to position the button. Adjust the width as needed */
.containern {
  position: relative;
  width: 100%;
}

/* Style the button and place it in the middle of the container/image */
.containern .btnArmband {
  position: absolute;
  top: 56%;
  left: 37%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 22px 22px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
}
.containern .btnBauchtasche {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 30px 50px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background-color: transparent;
}

.containern .btnFussband {
  position: absolute;
  top: 87%;
  left: 53%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 25px 25px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
}
.containern .btnSchuhe {
  position: absolute;
  top: 92%;
  left: 43%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 40px 40px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background-color: transparent;
}
.containern .btnWeste {
  position: absolute;
  top: 33%;
  left: 52%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 40px 40px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background-color: transparent;
}

.containern .btnArmband:hover {
  background-color: #425463;
  opacity: 70%;
}
.containern .btnBauchtasche:hover {
  background-color: #425463;
  opacity: 70%;
}
.containern .btnFussband:hover {
  background-color: #425463;
  opacity: 70%;
}
.containern .btnSchuhe:hover {
  background-color: #425463;
  opacity: 70%;
}
.containern .btnWeste:hover {
  background-color: #425463;
  opacity: 70%;
}
.btnLinks {
  position: absolute;
  top: 33%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
}
.btnLinks:hover {
  background-color: #425463;
  opacity: 70%;
}

.btnRichtig{
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  background-color: #232d36;
}
.btnFalsch{
  position: absolute;
  top: 70%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  background-color: #232d36;
}
.bottomnavbar {
  background-color: #1a2128;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* Style the links inside the navigation bar */
.bottomnavbar a {
  float: center;
  display: block;
  color: #c8e2ed;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.bottomnavbar a:hover {
  background-color: rgb(#1a2128);
  color: #c8e2ed;
}

/* Hide the link that should open and close the navbar on small screens */
.bottomnavbar .icon {
  display: none;
}

section {
  position: relative;
  padding: 6rem 0;
}
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.hero {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  background-color: #1a2128;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.scroll-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid #c8e2ed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #c8e2ed;
  font-size: 0.8rem;
  position: absolute;
  bottom: 5rem;
  left: calc(50% - 1.25rem);
  -webkit-animation: float 2s linear infinite;
  animation: float 2s linear infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  z-index: 2;
}

.scroll-btn:hover,
.scroll-btn:focus {
  color: #c8e2ed;
  text-decoration: none;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.text-small {
  font-size: 1rem !important;
}

.text-uppercase {
  letter-spacing: 0.08em;
}

.bg-blue {
  background: #1a2128 !important;
}

.text-gray {
  color: #c8e2ed !important;
}

/*
*
* =====================
* ONE-PAGE SCROLL
* =====================
*
*/
.onepage-pagination li a.active:before {
  left: 7px;
}

@media (min-width: 1000px) {
  body,
  html {
    width: 100%;
    height: 100%;
  }
  html,
  body,
  .onepage-wrapper {
    width: 100%;
    height: 100%;
  }
  .onepage-wrapper .section {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
  }
}

@media (max-width: 999px) {
  body,
  html {
    overflow: auto;
  }
  body,
  .onepage-wrapper,
  .onepage-wrapper .section,
  html {
    width: 100%;
    height: auto !important;
  }
}

/*
 * 3. TYPE
 */
body {
  font-family: "cardo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1a2128;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: "Secular One", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2.3rem;
}

h3,
.h3 {
  font-size: 1.9rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.1rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.image {
  opacity: 0.1;
  display: flex;
  width: 80%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.image:hover {
  opacity: 1;
}

/** Code By WebDevTrick ( https://webdevtrick.com) **/
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ef4b37;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 40px;
  left: 4px;
  bottom: 4px;
  background-color: #1a2128;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00ff79;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00ff79;
}

input:checked + .slider:before {
  transform: translateX(52px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.centereddiv {
  padding-top: 20px;
}
